**/bin/
**/obj/
**/node_modules/
**/dist/
**/.vs/
**/.vscode/
**/.git/
**/.github/
**/TestResults/
**/CoverageReport/
publish-test/
publish/
DiarioX.Server.Tests/
*.user
*.suo
.gitignore
.gitattributes
**/*.md
!DiarioX.Server/**/*.cs
